{"swagger":"2.0","info":{"description":"API for Arbeidsgiver- og arbeidstakerregisteret","version":"8.4.0","title":"AAREG API"},"host":"modapp-q1.adeo.no","basePath":"/aareg-core/api","tags":[{"name":"arbeidsforhold.v1","description":"API for arbeidsforhold"}],"paths":{"/v1/arbeidsforhold/{navArbeidsforholdId}":{"get":{"tags":["arbeidsforhold.v1"],"summary":"Finn arbeidsforhold","operationId":"finnArbeidsforholdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"Authorization","in":"header","description":"Open ID Connect (OIDC) token - brukes til autentisering og autorisasjon for tjenestekall","required":true,"type":"string"},{"name":"Nav-Call-Id","in":"header","description":"Identifikator for kjeden av tjenestekall","required":false,"type":"string"},{"name":"Nav-Consumer-Token","in":"header","description":"Token for konsument fra Nav Security Token Service (STS) - brukes til autentisering og autorisasjon for tjenestekall","required":true,"type":"string"},{"name":"Nav-Personident","in":"header","description":"Identifikator for arbeidstaker (FNR/DNR)","required":true,"type":"string"},{"name":"navArbeidsforholdId","in":"path","description":"Arbeidsforhold-id i AAREG","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Vellykket forespørsel","schema":{"$ref":"#/definitions/Arbeidsforhold"}},"400":{"description":"Ugyldig(e) parameter(e) i forespørsel","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"401":{"description":"Token mangler eller er ugyldig","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"403":{"description":"Ingen tilgang til forespurt ressurs","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"404":{"description":"Fant ikke forespurt(e) ressurs(er)","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"500":{"description":"Noe gikk galt","schema":{"$ref":"#/definitions/TjenestefeilResponse"}}},"deprecated":false}},"/v1/arbeidstaker/arbeidsforhold":{"get":{"tags":["arbeidsforhold.v1"],"summary":"Finn arbeidsforhold per arbeidstaker","operationId":"finnArbeidsforholdPrArbeidstakerUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"Authorization","in":"header","description":"Open ID Connect (OIDC) token - brukes til autentisering og autorisasjon for tjenestekall","required":true,"type":"string"},{"name":"Nav-Call-Id","in":"header","description":"Identifikator for kjeden av tjenestekall","required":false,"type":"string"},{"name":"Nav-Consumer-Token","in":"header","description":"Token for konsument fra Nav Security Token Service (STS) - brukes til autentisering og autorisasjon for tjenestekall","required":true,"type":"string"},{"name":"Nav-Personident","in":"header","description":"Identifikator for arbeidstaker (FNR/DNR)","required":true,"type":"string"},{"name":"ansettelsesperiodeFom","in":"query","description":"Filter for fra-og-med-dato for ansettelsesperiode, format (ISO-8601): yyyy-MM-dd","required":false,"type":"string","allowEmptyValue":false},{"name":"ansettelsesperiodeTom","in":"query","description":"Filter for til-og-med-dato for ansettelsesperiode, format (ISO-8601): yyyy-MM-dd","required":false,"type":"string","allowEmptyValue":false},{"name":"regelverk","in":"query","description":"Filter for regelverk","required":false,"type":"string","default":"ALLE","allowEmptyValue":false,"enum":["FOER_A_ORDNINGEN","A_ORDNINGEN","ALLE"]}],"responses":{"200":{"description":"Vellykket forespørsel","schema":{"type":"array","items":{"$ref":"#/definitions/Arbeidsforhold"}}},"400":{"description":"Ugyldig(e) parameter(e) i forespørsel","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"401":{"description":"Token mangler eller er ugyldig","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"403":{"description":"Ingen tilgang til forespurt ressurs","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"404":{"description":"Fant ikke forespurt(e) ressurs(er)","schema":{"$ref":"#/definitions/TjenestefeilResponse"}},"500":{"description":"Noe gikk galt","schema":{"$ref":"#/definitions/TjenestefeilResponse"}}},"deprecated":false}}},"definitions":{"Ansettelsesperiode":{"type":"object","properties":{"bruksperiode":{"description":"Bruksperiode for ansettelsesperiode","$ref":"#/definitions/Bruksperiode"},"periode":{"description":"Ansettelsesperiode","$ref":"#/definitions/Periode"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"},"varslingskode":{"type":"string","example":"ERKONK","description":"Varslingskode (kodeverk: Varslingskode_5fAa-registeret) - benyttes hvis ansettelsesperiode er lukket maskinelt"}},"title":"Ansettelsesperiode","description":"Informasjon knyttet til ansettelsesperioden"},"AntallTimerForTimeloennet":{"type":"object","properties":{"antallTimer":{"type":"number","format":"double","example":37.5,"description":"Antall timer"},"periode":{"description":"Periode for antall timer med timel&oslash;nn","$ref":"#/definitions/Periode"},"rapporteringsperiode":{"type":"string","example":"2018-05","description":"Rapporteringsperiode for antall timer med timel&oslash;nn, format (ISO-8601): yyyy-MM"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"}},"title":"AntallTimerForTimeloennet","description":"Informasjon om antall timer med timel&oslash;nn"},"Arbeidsavtale":{"type":"object","properties":{"antallTimerPrUke":{"type":"number","format":"double","example":37.5,"description":"Antall timer per uke"},"arbeidstidsordning":{"type":"string","example":"ikkeSkift","description":"Arbeidstidsordning (kodeverk: Arbeidstidsordninger)"},"avloenningstype":{"type":"string","example":"fast","description":"Avl&oslash;nningstype (kodeverk: Avloenningstyper)"},"beregnetAntallTimerPrUke":{"type":"number","format":"double","example":37.5,"description":"Beregnet antall timer per uke"},"beregnetStillingsprosent":{"type":"number","format":"double","example":49.5,"description":"Beregnet stillingsprosent"},"bruksperiode":{"description":"Bruksperiode for arbeidsavtalen","$ref":"#/definitions/Bruksperiode"},"gyldighetsperiode":{"description":"Gyldighetsperiode for arbeidsavtalen","$ref":"#/definitions/Gyldighetsperiode"},"sistLoennsendring":{"type":"string"},"sistStillingsendring":{"type":"string"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"},"stillingsprosent":{"type":"number","format":"double","example":49.5,"description":"Stillingsprosent"},"yrke":{"type":"string","example":2130123,"description":"Yrke (kodeverk: Yrker)"}},"title":"Arbeidsavtale","description":"Informasjon om arbeidsavtalen"},"Arbeidsforhold":{"type":"object","properties":{"ansettelsesperiode":{"description":"Ansettelseperiode","$ref":"#/definitions/Ansettelsesperiode"},"antallTimerForTimeloennet":{"type":"array","description":"Antall timer med timel&oslash;nn","items":{"$ref":"#/definitions/AntallTimerForTimeloennet"}},"arbeidsavtaler":{"type":"array","description":"Arbeidsavtaler - gjeldende og evt. med historikk","items":{"$ref":"#/definitions/Arbeidsavtale"}},"arbeidsforholdId":{"type":"string","example":"abc-321","description":"Arbeidsforhold-id fra opplysningspliktig"},"arbeidsgiver":{"description":"Arbeidsgiver - organisasjon eller person","$ref":"#/definitions/OpplysningspliktigArbeidsgiver"},"arbeidstaker":{"description":"Arbeidstaker","$ref":"#/definitions/Person"},"innrapportertEtterAOrdningen":{"type":"boolean","description":"Er arbeidsforholdet innrapportert via A-Ordningen?"},"navArbeidsforholdId":{"type":"integer","format":"int64","example":123456,"description":"Arbeidsforhold-id i AAREG"},"opplysningspliktig":{"description":"Opplysningspliktig - organisasjon eller person","$ref":"#/definitions/OpplysningspliktigArbeidsgiver"},"permisjonPermitteringer":{"type":"array","description":"Permisjoner og/eller permitteringer","items":{"$ref":"#/definitions/PermisjonPermittering"}},"sistBekreftet":{"type":"string","example":"2018-09-19T12:10:31","description":"Tidspunkt for siste bekreftelse av arbeidsforhold, format (ISO-8601): yyyy-MM-dd'T'HH:mm[:ss[.SSSSSSSSS]]"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"},"type":{"type":"string","example":"ordinaertArbeidsforhold","description":"Arbeidsforholdtype (kodeverk: Arbeidsforholdtyper)"},"utenlandsopphold":{"type":"array","description":"Utenlandsopphold","items":{"$ref":"#/definitions/Utenlandsopphold"}}},"title":"Arbeidsforhold","description":"Informasjon om arbeidsforhold"},"Bruksperiode":{"type":"object","properties":{"fom":{"type":"string","example":"2015-01-06T21:44:04.748","description":"Fra-tidsstempel for bruksperiode, format (ISO-8601): yyyy-MM-dd'T'HH:mm[:ss[.SSSSSSSSS]]"},"tom":{"type":"string","example":"2015-12-06T19:45:04","description":"Til-tidsstempel for bruksperiode, format (ISO-8601): yyyy-MM-dd'T'HH:mm[:ss[.SSSSSSSSS]]"}},"title":"Bruksperiode"},"Gyldighetsperiode":{"type":"object","properties":{"fom":{"type":"string","example":"2014-07-01","description":"Fra-og-med-dato for periode, format (ISO-8601): yyyy-MM-dd"},"tom":{"type":"string","example":"2015-12-31","description":"Til-og-med-dato for periode, format (ISO-8601): yyyy-MM-dd"}},"title":"Gyldighetsperiode"},"OpplysningspliktigArbeidsgiver":{"type":"object","properties":{"type":{"type":"string","description":"Type: Organisasjon eller Person","enum":["Organisasjon","Person"]}},"title":"OpplysningspliktigArbeidsgiver","description":"Informasjon om opplysningspliktig eller arbeidsgiver (organisasjon eller person)"},"Organisasjon":{"title":"Organisasjon","allOf":[{"$ref":"#/definitions/OpplysningspliktigArbeidsgiver"},{"type":"object","properties":{"organisasjonsnummer":{"type":"string","example":987654321,"description":"Organisasjonsnummer fra Enhetsregisteret"},"type":{"type":"string","description":"Type: Organisasjon","enum":["Organisasjon"]}},"title":"Organisasjon","description":"Informasjon om organisasjon (arbeidsgiver/opplysningspliktig)"}],"description":"Informasjon om organisasjon (arbeidsgiver/opplysningspliktig)"},"Periode":{"type":"object","properties":{"fom":{"type":"string","example":"2014-07-01","description":"Fra-og-med-dato for periode, format (ISO-8601): yyyy-MM-dd"},"tom":{"type":"string","example":"2015-12-31","description":"Til-og-med-dato for periode, format (ISO-8601): yyyy-MM-dd"}},"title":"Periode"},"PermisjonPermittering":{"type":"object","properties":{"periode":{"description":"Periode for permisjon eller permittering","$ref":"#/definitions/Periode"},"permisjonPermitteringId":{"type":"string","example":"123-xyz","description":"Id fra opplysningspliktig"},"prosent":{"type":"number","format":"double","example":50.5,"description":"Prosent for permisjon eller permittering"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"},"type":{"type":"string","example":"permisjonMedForeldrepenger","description":"Permisjon-/permitteringstype (kodeverk: PermisjonsOgPermitteringsBeskrivelse)"}},"title":"PermisjonPermittering","description":"Informasjon om permisjon eller permittering"},"Person":{"title":"Person","allOf":[{"$ref":"#/definitions/OpplysningspliktigArbeidsgiver"},{"type":"object","properties":{"aktoerId":{"type":"string","example":1234567890,"description":"Akt&oslash;r-id"},"offentligIdent":{"type":"string","example":31126700000,"description":"Gjeldende offentlig ident"},"type":{"type":"string","description":"Type: Person","enum":["Person"]}},"title":"Person","description":"Informasjon om person (arbeidstaker/arbeidsgiver/opplysningspliktig)"}],"description":"Informasjon om person (arbeidstaker/arbeidsgiver/opplysningspliktig)"},"Sporingsinformasjon":{"type":"object","properties":{"endretAv":{"type":"string","example":"Z990693","description":"Brukernavn for endring"},"endretKilde":{"type":"string","example":"AAREG","description":"Kilde for endring"},"endretKildereferanse":{"type":"string","example":"referanse-fra-kilde","description":"Kildereferanse for endring"},"endretTidspunkt":{"type":"string","example":"2018-09-19T12:11:20.79","description":"Tidspunkt for endring, format (ISO-8601): yyyy-MM-dd'T'HH:mm[:ss[.SSSSSSSSS]]"},"opprettetAv":{"type":"string","example":"srvappserver","description":"Brukernavn for opprettelse"},"opprettetKilde":{"type":"string","example":"EDAG","description":"Kilde for opprettelse"},"opprettetKildereferanse":{"type":"string","example":"22a26849-aeef-4b81-9174-e238c11e1081","description":"Kildereferanse for opprettelse"},"opprettetTidspunkt":{"type":"string","example":"2018-09-19T12:10:58.059","description":"Tidspunkt for opprettelse, format (ISO-8601): yyyy-MM-dd'T'HH:mm[:ss[.SSSSSSSSS]]"}},"title":"Sporingsinformasjon","description":"Informasjon om opprettelse og endring av objekt"},"TjenestefeilResponse":{"type":"object","properties":{"melding":{"type":"string","description":"Informasjon om hva som er feil"}},"title":"TjenestefeilResponse","description":"Responsobjekt ved feil i tjeneste"},"Utenlandsopphold":{"type":"object","properties":{"landkode":{"type":"string","example":"JPN","description":"Landkode (kodeverk: Landkoder)"},"periode":{"description":"Periode for utenlandsopphold","$ref":"#/definitions/Periode"},"rapporteringsperiode":{"type":"string","example":"2017-12","description":"Rapporteringsperiode for utenlandsopphold, format (ISO-8601): yyyy-MM"},"sporingsinformasjon":{"description":"Informasjon om opprettelse og endring av objekt","$ref":"#/definitions/Sporingsinformasjon"}},"title":"Utenlandsopphold","description":"Informasjon om utenlandsopphold"}}}